# PORT
PORT= # Example: 8000

# DATABASE
DATABASE_URL= # Example: postgresql://user:password@host:port/database

# BETTER_AUTH
ALLOWED_ORIGINS= # Example: http://localhost:3000, Your frontend URL
BETTER_AUTH_URL= # Example: http://localhost:8000, Your backend URL

BETTER_AUTH_SECRET= # Example: your-secret-key

# GOOGLE
GOOGLE_CLIENT_ID= # Example: your-google-client-id
GOOGLE_CLIENT_SECRET= # Example: your-google-client-secret